html {
  font-size: 12px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

body {
  background-color: #1ba9c1;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light; }

li {
  list-style: square; }

h1,
h2,
h4,
nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

p {
  font-size: 14px; }

img {
  max-width: 100%; }

footer {
  background-color: #fff;
  color: #1ba9c1;
  bottom: 0;
  margin-top: 5%;
  margin-bottom: 0%;
  background-image: url("../images/footer-pattern.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: darken; }

.container {
  max-width: 90%; }

.col-md-6-text {
  padding: 15% 2.5% 5% 2.5%;
  text-shadow: 0.5px 0.5px 1px #3f4849; }

.col-md-6-resume {
  padding: 7% 2.5% 5% 2.5%;
  text-shadow: 0.5px 0.5px 1px #3f4849; }

.col img {
  margin-top: 15%;
  border-radius: 25% 10%; }

.col-md-6 img {
  margin-top: -10%;
  margin-bottom: -20%;
  padding: 1%; }

.pricing-header {
  max-width: 700px; }

.card-deck .card {
  min-width: 220px; }
